.feel h3 {
	color: rgb(128, 0, 128);
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
}

.feel p {
	color: ;
	margin: 0 0 20px;
}

.feel .wrapper {
 	display: flex;
 	flex-direction: column;
}

.feel .wrapper .row {
	display: flex;
}

.feel .feel-item {
	width: 180px;
	display: flex;
	flex-direction: column;
	min-height: 200px;
	padding: 0 8px;
}

.feel .feel-item .image {
	width: 150px;
	height: 150px;
	position: relative;
	margin-bottom: 10px;
}

.feel .feel-item .image:hover .overlay{
	opacity: 1;
}

.feel .feel-item .image img{
	width: 100%;
	height: 100%;
}

.feel .feel-item .title {
	font-weight: 500;
	font-size: 14px;
	text-transform: capitalize;
	margin-bottom: 8px;
}

.feel .feel-item .singer {
	font-weight: 300;
	font-size: 13px;
	color: #999;
	text-transform: capitalize;
}