.overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay img {
	transform: scale(0.2);
	transition: all 0.3s;
}

.overlay:hover img{
	transform: scale(0.5);
}

.overlay p {
	color: #FFF;
	transform: scale(0.5);
	transition: all 0.3s;
	text-transform: capitalize;
}

.overlay:hover p {
	transform: scale(1);
	color: #FFF;
	text-transform: capitalize;
}
