.vietnamese-music {
	display: flex;
	margin-bottom: 16px;
}

.vietnamese-music h3 {
	color: rgb(128, 0, 128);
	font-size: 1.5em;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.vietnamese-music .left {
	flex-basis: 50%;
	padding: 0 12px 0 6px;
	border-right: 1px solid #DDD;
}

.vietnamese-music .right {
	flex-basis: 50%;
	padding: 0 6px 0 12px;
}

.vietnamese-music .item {
	display: flex;
	padding: 8px 0;
	border-bottom: 1px solid #DDD;
}

.vietnamese-music .item .image {
	position: relative;
	width: 50px;
	height: 50px;
}

.vietnamese-music .item .image:hover .overlay {
	opacity: 1;
}

.vietnamese-music .item .image img {
	width: 100%;
	height: 100%;
}

.vietnamese-music .item .info {
	padding: 0 16px;
}

.vietnamese-music .item .title {
	text-transform: capitalize;
	margin-bottom: 8px;
	font-weight: 500;
}

.vietnamese-music .item .singer a {
	text-transform: capitalize;
	font-size: 13px;
	color: #666;
}